.features {
  padding:  130px 0 55px;
  text-align: center;
  h2 {
    @include font-bold(48px);
  }
}
.features-list {
  margin-top: 125px;
  @include display-flex;
  @include justify-content(center);
  li {
    margin: 0 0 25px 185px;
    text-align: center;
    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }
  p {
    @include  font-regular(30px);
  }
}
.technology-item:before {
  content: "";
  display: inline-block;
  width: 95px;
  height: 95px;
  @include small-bg("../img/technology-icon.png");
  margin-bottom: 70px;
}
.signal-item:before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 95px;
  @include small-bg("../img/signal-icon.png");
  margin-bottom: 70px;
}
.use-item:before {
   content: "";
   display: inline-block;
   width: 95px;
   height: 95px;
   @include small-bg("../img/easy-icon.png");
   margin-bottom: 70px;
 }
.visibility-item:before {
  content: "";
  display: inline-block;
  width: 95px;
  height: 95px;
  @include small-bg("../img/visibility-icon.png");
  margin-bottom: 70px;
}