.flying-generation {
  position: relative;
  overflow: hidden;
  padding: 320px 0 230px;
  h2 {
    max-width: 535px;
    margin-bottom: 50px;
    @include big-h2;
  }
  .general-btn {
    background: transparent;
    border: 1px solid #eff2f6;
    color: $black;
    &:hover {
      border: 1px solid transparent;
      background: rgba(0, 0, 0, 0.7);
      color: $white;
    }
  }
}
.img-wrap {
  position: absolute;
  z-index: -100;
  right: -10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 905px;
  .dron-img {
    display: block;
    width: 100%;
    height: auto;
  }
}
