.flying-generation {
  position: relative;
  overflow: hidden;
  padding: 300px 0 200px;
  @include display-flex;
  @include justify-content(spacebetween);
  h2 {
    max-width: 670px;
    margin-bottom: 50px;
    @include font-regular(82px);
  }
  .general-btn {
    background: transparent;
    border: 1px solid #eff2f6;
    color: $black;
    &:hover {
      border: 1px solid transparent;
      background: rgba(0, 0, 0, 0.7);
      color: $white;
    }
  }
}

.dron-img {
  display: block;
  position: absolute;
  right: -14%;
  top: 50%;
  z-index: -100;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 55%;
  height: auto;
}
